	<div class="title">Crop Image</div>
		<div class="canvas-cont"></div>	
		<div class="toolbars">
			<div class="toolbar">
				<div class="crop-button square-icon">
					<img src="/spotter/images/universal/crop_s_white.png" class="button"/>
				</div>
				<div class="undo-button square-icon">
					<img src="/spotter/images/universal/undo_s_white.png" class="button"/>
			</div>
			<div class="save-button square-icon">
				<img src="/spotter/images/universal/save_file_s_white.png" class="button"/>
			</div>
		</div>
	</div>
